# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\yxl\Documents\WeChat Files\wxid_vwvoa213apd112\FileStorage\File\2021-01\程序例子_13\HomeWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
